	.a{width: 800px;height: 800px;background-color: black;position: relative;}
	.b{width: 600px;height: 590px;background-color: red;position: relative;top: -790px;left: 190px;}
	.c{width: 170px;height: 260px;background-color: white;position: relative;top: -1380px;left: 10px}
	.d{width: 170px;height: 310px;background-color: white;position: relative;top: -1360px;left: 10px}
	.e{width: 170px;height: 180px;background-color: blue;position: relative;top: -1350px;left: 10px}
	.f{width: 450px;height: 180px;background-color: white;position: relative;top: -1530px;left: 190px}
	.g{width: 140px;height: 85px;background-color: white;position: relative;top: -1710px;left: 650px}
	.h{width: 140px;height: 85px;background-color: yellow;position: relative;top: -1700px;left: 650px}